<fieldset id="signin">
  <legend>Login</legend>

  {% if let Some(error) = error %}
  <!-- Error -->
  <span style="color: red">Login failed: {{ error }}</span>
  {% endif %}

  <!-- Login form -->
  <form>
    <label>
      Username:
      <input name="username" type="text" placeholder="Enter username..." />
    </label>
    <br />
    <label>
      Password:
      <input name="password" type="password" placeholder="Enter password..." />
    </label>
    <br />
    <button hx-post="/auth/signin" hx-swap="outerHTML" hx-target="#signin">
      Login
    </button>
  </form>
</fieldset>
